dist: precise
sudo: false
cache:
  directories:
  - $HOME/.m2
language: java
jdk:
- oraclejdk7
services: mongodb
install:
- ./mvnw clean install -DskipTests=true -Dmaven.javadoc.skip=true -B -V -U
script:
- '[ "${TRAVIS_BRANCH}" = master ] && [ "${TRAVIS_PULL_REQUEST}" != "false" ] || ./mvnw -s .settings.xml clean verify deploy'
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] || ./mvnw clean verify'
env:
  global:
  - secure: I0jAQdcRp1fu0se0Pqa2QuKRJrdqW1rPNuJdrpNsbqF1AGDOuHMjjjlZdIsSjRbCHNn1/R1igMSncaIQ+yASPJdAs9sQ7hUkvW/vitfLKvS7J51KSmblzPak7f6hE2VS10TfnKTJweWFKMpOX+OKiesNox+jdWDJk6TtjydTQLzPPXPdZZXEG//8OtjVIflRgJcT0xFSyiCaJFzyB/tai3wN6WDSGqyfs2FQfZdw+gcK4r6ZrdjXwA8w3S5wS8EyaTA1I6S/hCbDV9tpwEAAQQU3QUFs6YJ54pglm3KtguZIezySkJmNMixAvZ1xbW/sO1w7rWVD0eOwt2xa3HFiIKZmFnjj0c/MZ5mPPOYX2DcZ49mtP8lzWhcSjL1Q7myoErucxLDAInJ1u3/JCPy2QKB5YHUYXd2IT4qINMdEQFeOfRKFsBBjWpE+yGHmHKPNXtwRi8/+8VJ6eTss27WKgvGnVTRSrvJvf8vwfN48WDMoSwHHmC6crJEsQ6Q/QRAsZqMVm086055U6eFN2Lcm/xQv2b2FSvnmJQLP6XQ/oIb4RTCc/9P0SN5WXgtQCRlZWuQw/YUihKXV6NQyjHr+Ep8g3/+WJyae+XLe6ltm9h0oj984k0yKR91j5yACaitNjkbg8LX7GV4kzDd94gBrIFr3VbLfA7i0kaPKXnGkVS8=
  - secure: kWzQv1gaQ3rm+723iHr8I4LqQP55lOISn03Dm8qGqkREvO4lrukp9n34a6gQpPYi8sbh+KQe/ChlDnPOIGt1crKf3S3B4FQWb0AHOiyphutl3LRSq3tF5zvoSctmesVYOsVBfOmxD3dSw94VKK95aKhqmY3bFKSFsejVgd73xxPWewgcKoon7CrK5ugfY3tS8jLefHWOhfEKpmpCCW+UWGUoh3eJhIqbDFpV0Lv7pH5YaiZuMAY3J1Gpqxil2ET6vbj6bbLH/MSr27hg6SaJyszwO2XnHXqC1eLSOho3IVZVmSxfBPwerF8L1YMJqV8Dsu51e5qoRefbGVPv+0ElPLeiSJt4oQbG22qJfOKc2QQkvh6iB7U+E6act6QvSyzYEeX/7Rwk15H11nU0y20VQkEIE+qLV0LmeypZbFks5wADaBA+C5qC04PJJwJZiyVoqC2bAoEo0UMix4nGBbROGxI731UgjhmFhuV2UmLUunlE6EBt62ZoXi9ziOqPucGEWcYfS27RLPorfqIQVH8A9ZgTdZ5F8HXtMygEBIlMvsH29XQf1uXtu9kFGRybeKhk71Jvr+rYuo5nR1BLiGHmz1JHD6Ie0KtyCY3h3OVShnrD7LKdekoZo7CekRuVSnaFGZ8yJyRnjGLS6i1Xl7vEHG4Wb1W9QUpX2xQohrqib6A=
